.capitalize {
   text-transform: capitalize;
}

body {
  max-height: 100vh !important;
  min-height: 1vh;
  /* all these do is try to prevent scrolling*/

  background-image: url("../images/lightning.jpg");
  background-position: center;
}

img {
  height:inherit;
}

.myButtons {
  border-radius: 15px;
}

.landingButtons {
  min-width: 20vw;
}

.endQuizButton {
  border-radius: 15px;
  background-color: rgba(216, 45, 45, 0.8);
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.bigLogo {
  height: 150px;
  max-height: 150px;
}

span {
  width: 200px;
  text-align: center;
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  width: 90vw;
  max-width: 500px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

#loginInfo {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  text-align: center;
}

.success {
  background-color: rgba(79, 180, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.failure {
  background-color: rgba(236, 19, 19, 0.8);
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.clock {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
