.capitalize {
   text-transform: capitalize;
}

body {
  max-height: 80vh !important;
  min-height: 1vh;
  /* all these do is try to prevent scrolling*/
}

img {
  height:inherit;
}

.black {
  background-color: #000000;
}

.landingButton {
  width: 200px;
}

.registerButton {
  width: 180px;
}

.bigLogo {
  height: 150px;
  max-height: 150px;
}

span {
  text-align: center;
}
