<div>
  Final score:  {{gc.score}} / {{gc.numQuestions}}
  <!-- started at: {{gc.startTime}}, -->
  <!-- ended at:  {{gc.endTime}}, -->
  Total time:  {{(gc.endTime - gc.startTime) / 1000 | number:1}}s
  <!-- Total time:  {{(gc.endTime - gc.startTime) | secondsToDateTime | date:'m:ss'}}, <br> -->
  <!-- Total time:  {{(gc.endTime - gc.startTime) | date:'m:ss'}}, <br> -->
  <!-- Total time:  {{(gc.endTime - gc.startTime) | duration:'mm:ss'}} -->
  <p ng-show="gc.lastAnswerWasCorrect">
    {{gc.rightAnswer}} was correct!
  </p>
  <p ng-hide="gc.lastAnswerWasCorrect">
    <span class="youGuessedWrong">Your Guess: {{gc.wrongAnswer}}</span>
    <span class="youGuessedRight">Correct Answer:  {{gc.rightAnswer}}</span>
  </p>
  <button ng-click="gc.go('/')">Exit</button>
  <button ng-click="gc.go('/start')">Play Again!</button>
</div>
