<div>
  User:  {{gc.currentUser ? gc.currentUser.username : gc.inputed.username}} <br>
  Question #{{gc.currentQuestion + 1}} / {{gc.numQuestions}} <br>
  Category:  {{gc.qTS.category}}
  <p>{{gc.qTS.question}}</p>
  <ul>
    <li ng-repeat="x in gc.qTS.possibleAnswers">
      <button class="answerButton" ng-click="gc.answer(x)">
        {{x}}
      </button>
    </li>
  </ul>
  <div ng-hide="gc.firstQuestion">
    <p ng-show="gc.lastAnswerWasCorrect">
      {{gc.rightAnswer}} was correct!
    </p>
    <p ng-hide="gc.lastAnswerWasCorrect">
      <span class="youGuessedWrong">Your Guess: {{gc.wrongAnswer}}</span>
      <span class="youGuessedRight">Correct Answer:  {{gc.rightAnswer}}</span>
    </p>
  </div>
  Current score:  {{gc.score}} / {{gc.numQuestions}}
  <button ng-click="gc.go('/')">Quit Game</button>
</div>
