<div ng-hide="qc.currentUser"> <!-- div is hidden if logged in -->
  <form name="guest">
    <input type="text" placeholder="Guest Name?" ng-model="qc.inputed.username" required>
    <md-button class="md-raised md-primary" ng-click="qc.go('/start')" ng-disabled="guest.$invalid">Start as Guest</md-button>
  </form>
  <p>
    Returning?<button ng-click="qc.go('/login')">Login!</button>
    Or<button ng-click="qc.go('/register')">Register!</button>
  </p>
</div>

<div ng-show="qc.currentUser">
  You're logged in as {{qc.currentUser.username}}.
  <md-button class="md-raised md-primary" ng-click="qc.go('/start')">Start Quiz!</md-button>
  <md-button class="md-raised md-warn" ng-click="qc.logOut()">Log out</md-button>
  <!-- <div class="userDiv">Userpage</div> -->
</div>
