<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <img flex-offset="35" src="../images/Lightning Round Red.png" alt="Lightning Round">
  </div>
</md-toolbar>

<div>
  <form name="login">
    <input type="text" placeholder="User Name?" ng-model="qc.inputed.username" required>
    <input type="password" placeholder="Password?" ng-model="qc.inputed.password" required>
    <button ng-click="qc.loginUser()" ng-disabled="login.$invalid">Login!</button>
    <!-- add in function to test login -->
    <!-- <div class="userDiv">Userpage</div> -->
    <button ng-click="qc.go('/')">Cancel</button>
  </form>
</div>
