<div layout="row" layout-align="space-between end" layout-padding>
  <img flex-offset="30" flex="40" src="../images/Lightning Round Red.png" alt="Lightning Round">
  <div layout="column" style="text-align: right" flex="grow">
    <div id="loginInfo">
      <div flex class="md-caption">
        {{qc.currentUser ? "User:" : "Guest:"}}
      </div>
      <div flex class="md-body-2">
        {{qc.currentUser ? qc.currentUser.username : qc.inputed.username}}
      </div>
    </div>
  </div>
</div>

<div>
  Logged in as:  {{qc.currentUser ? qc.currentUser.username : qc.inputed.username}}
  <p>
    Once leader has begun, this button will launch the quiz!
    <button ng-click="qc.playerStartIfReady()">LET'S DO THIS QUIZ</button>
    {{qc.patienceText}}
  </p>
  <button ng-click="qc.go('/')">Cancel</button>
</div>
