<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <img flex-offset="35" src="../images/Lightning Round Red.png" alt="Lightning Round">
  </div>
</md-toolbar>

<div>
  Final score:  {{qc.score}} / {{qc.numQuestions}}
  Total time:  {{(qc.totalTime) / 1000 | number:1}}s
  <p ng-show="qc.lastAnswerWasCorrect">
    {{qc.rightAnswer}} was correct!
  </p>
  <p ng-hide="qc.lastAnswerWasCorrect">
    <span class="youGuessedWrong">Your Guess: {{qc.wrongAnswer}}</span>
    <span class="youGuessedRight">Correct Answer:  {{qc.rightAnswer}}</span>
  </p>
  <!-- <div ng-show="qc.winner">
    You won!
  </div> -->
  <button ng-click="qc.showLeaderboard()">Get Leaderboard</button>
  <p>
    Placement:
    <ol>
      <li ng-repeat="x in qc.leaderboard | orderBy:['-score','time']">Score of: {{x.score}}, in {{(x.time) / 1000 | number:1}}s --- {{x.username}}</li>
    </ol>
  </p>

  <button ng-click="qc.go('/')">Exit</button>
  <button ng-click="qc.go('/start')">Play Again!</button>
</div>
