<div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Quiz Options</span>
        <span class="md-subhead">LEAVE BLANK for DEFAULT options</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>

      <!-- number of questions selector -->
      <div layout="row">
        <md-input-container>
          <label># of Questions</label>
          <!-- this should be longer to get the whole label showing -->
          <input ng-model="qc.numQuestions" type="number" step="5" min="5" max="50">
        </md-input-container>
      </div>

      <!-- category selector -->
      <div layout="row">
        <md-input-container>
          <label>Category</label>
          <md-select ng-model="qc.category">
            <md-option value=""><em>None</em></md-option>
            <md-option ng-repeat="x in qc.categories" ng-value="x">
              {{x.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <!-- difficulty selector -->
      <div layout="row">
        <md-input-container>
          <!-- <div layout="row" layout-align="space-between center"> -->
          <md-select ng-model="qc.difficulty" placeholder="Difficulty">
            <md-option value="easy">Easy</md-option>
            <md-option value="medium">Medium</md-option>
            <md-option value="hard">Hard</md-option>
          </md-select>
        </md-input-container>
      </div>

      <!-- type selector -->
      <div layout="row">
        <md-input-container>
          <md-select ng-model="qc.type" placeholder="Type">
            <md-option value="multiple">Multiple Choice</md-option>
            <md-option value="boolean">True / False</md-option>
          </md-select>
        </md-input-container>
      </div>

    </md-card-content>
  </md-card>

  <button ng-click="qc.go('/')">Quit Quiz</button>
  <md-button class="md-raised md-primary" ng-hide="qc.quizInProgress"
    ng-click="qc.beginQuiz(); qc.go('/quiz')">Begin</md-button>
</div>
