<div layout="row" layout-align="space-between end" layout-padding>
  <img flex-offset="30" flex="40" src="../images/Lightning Round Red.png" alt="Lightning Round">
  <div layout="column" style="text-align: right" flex="grow">
    <div id="loginInfo">
      <div flex class="md-caption">
        {{qc.currentUser ? "User:" : "Guest:"}}
      </div>
      <div flex class="md-body-2">
        {{qc.currentUser ? qc.currentUser.username : qc.inputed.username}}
      </div>
    </div>
  </div>
</div>

<div class="content" layout="column" layout-align="center center">

      <div flex class="md-display-2"><b>Quiz Options</b></div>
      <div flex layout-margin layout-padding class="md-subhead">You're the leader{{qc.currentUser ? ", " + qc.currentUser.username : ", " + qc.inputed.username}}!</div>

      <!-- number of questions selector -->
        <md-input-container>
          <label># of Questions</label>
          <md-select ng-model="qc.numQuestions">
            <md-option ng-repeat="x in qc.numQuestionsArray" ng-value="x">
              {{x}}
            </md-option>
        </md-input-container>

      <!-- category selector -->
        <md-input-container class="selectors">
          <label>Category</label>
          <md-select ng-model="qc.category">
            <md-option value=""><em>All Categories</em></md-option>
            <md-option ng-repeat="x in qc.categories" ng-value="x">
              {{x.name}}
            </md-option>
          </md-select>
        </md-input-container>

      <!-- difficulty selector -->
        <md-input-container>
          <label>Difficulty</label>
          <md-select ng-model="qc.difficulty" placeholder="Difficulty">
            <md-option value=""><em>All Difficulties</em></md-option>
            <md-option value="easy">Easy</md-option>
            <md-option value="medium">Medium</md-option>
            <md-option value="hard">Hard</md-option>
          </md-select>
        </md-input-container>

      <!-- type selector -->
        <md-input-container>
          <label>Type</label>
          <md-select ng-model="qc.type" placeholder="Type">
            <md-option value=""><em>All Types</em></md-option>
            <md-option value="multiple">Multiple Choice</md-option>
            <md-option value="boolean">True / False</md-option>
          </md-select>
        </md-input-container>

<div flex layout-margin layout-align="center space-between">
  <md-button class="md-raised md-warn md-hue-3" ng-click="qc.endQuiz()">Quit Quiz</md-button>
  <md-button class="md-raised md-primary"
    ng-click="qc.beginQuiz(); qc.go('/quiz')">Begin</md-button>
</div>

</div>
