<div layout="row" layout-align="space-between end" layout-padding>
  <img flex-offset="30" flex="40" src="../images/Lightning Round Red.png" alt="Lightning Round">
  <div layout="column" style="text-align: right" flex="grow">
    <div id="loginInfo">
      <div flex class="md-caption">
        {{qc.currentUser ? "User:" : "Guest:"}}
      </div>
      <div flex class="md-body-2">
        {{qc.currentUser ? qc.currentUser.username : qc.inputed.username}}
      </div>
    </div>
  </div>
</div>

<div layout="column" class="content" layout-align="center center">

      <ol>
        <li ng-repeat="x in qc.leaderboard | orderBy:['-score','time']">Score of: {{x.score}}, in {{(x.time) / 1000 | number:1}}s --- {{x.username}}</li>
      </ol>
    <md-button layout-margin class="md-raised md-primary myButtons landingButtons" ng-click="qc.showLeaderboard()">Update Leaderboard</md-button>
    <br>
    <div flex>
      <div layout-margin layout-padding ng-show="qc.lastAnswerWasCorrect" class="success">
        {{qc.rightAnswer}} was correct!
      </div>
      <div flex layout-margin layout-padding ng-hide="qc.lastAnswerWasCorrect" class="failure">
        <span class="youGuessedWrong">Your Guess: {{qc.wrongAnswer}}</span><br>
        <span class="youGuessedRight">Correct Answer:  {{qc.rightAnswer}}</span>
      </div>
    </div>
    <div layout="row">
      <md-button layout-margin class="md-raised md-warn myButtons md-hue-1" ng-click="qc.go('/')">Exit</md-button>
      <md-button layout-margin class="md-raised md-primary myButtons md-hue-1" ng-click="qc.go('/start')">Play Again!</md-button>
    </div>



</div>
