<div layout="row" layout-align="space-between end" layout-padding>
  <img flex-offset="30" flex="40" src="../images/Lightning Round Red.png" alt="Lightning Round">
</div>

<div class="content" layout="column" layout-margin layout-padding layout-fill layout-align="space-around">
  <form name="register">
    <input layout-margin layout-padding type="text" placeholder="User Name" ng-model="qc.inputed.username" required>
<br><input layout-margin layout-padding type="password" placeholder="Password" ng-model="qc.inputed.password" required>
<br><input layout-margin layout-padding type="password" placeholder="Confirm password" ng-model="qc.inputed.password2" required>
<br><md-button layout-margin class="md-raised md-primary mybuttons" ng-click="qc.registerUser()" ng-disabled="register.$invalid">Register!</md-button>
<br><md-button layout-margin class="md-raised md-warn mybuttons" ng-click="qc.go('/')">Cancel</md-button>
  </form>
</div>
